@model MvcFirmaCagri.Models.Entity.TblCagrilar

@{
    ViewBag.Title = "YeniCagri";
    Layout = "~/Views/Shared/FirmaLayout.cshtml";
}

<h2>Yeni Çağrı Ekleme Sayfası</h2>
<br />
<form method="post">
    @Html.Label("Konu")
    @Html.TextBox("Konu", null, new { @class = "form-control" })
    <br />
    @Html.Label("Açıklama")
    @Html.TextAreaFor(x => x.Aciklama,10,4 ,new { @class = "form-control" })
    <br />
    <button type="submit" class="btn btn-primary">Kaydet</button>
</form>

